---
- name: Patch Linux servers
  hosts: aws
  become: yes
  tasks:

    - name: Update all packages
      command: yum update -y

    - name: Check if kernel updated
      command: needs-restarting -r
      register: reboot_check
      ignore_errors: yes

    - name: Reboot if required
      reboot:
        msg: "Reboot triggered by patching"
        reboot_timeout: 600
      when: reboot_check.rc == 1

